*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #5d4954;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.logo{
    color: aliceblue;
    font-size: 1.5rem;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    font-size: 0.9rem;
}

.nav-links a{
    color: aliceblue;
    text-decoration: none;
}

.nav-links li{
    list-style: none;
}

.burger{
    cursor: pointer;
    display: none;
}

.burger div{
    background-color: aliceblue;
    margin: 5px;
    height: 3px;
    width: 30px;
}

body{
    background-image: url("background.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;

    }
    .nav-links{
        width: 50%;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px) ;
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px) ;
}